<div class="hero text-center"></div><br />
	<div class="index_content">
		<h2>Awesome People are Hard To Find</h2>
		<p>Let's Name Them</p>
		<%= link_to 'Add a Cool Person', new_bio_path, class: 'btn btn-info' %> 
	</div>











