
	<div class="hero text-center"></div><br />
		<div class="index_content">
			<h2 class="awesome">Awesome People are Hard To Find</h2>
			<p class="flex-box-fun">Let's Name Them</p>
			<%= link_to 'Add a Cool Person', new_bio_path, class: 'btn btn-info btn-lg btn3d' %> 
		</div>
  </div> 
<br />

<h1 class="title text-center ">The Awesome Ones</h1>
 
<div class="container">
  <div class="row text-center">
  <% @bios.each do |bio| %>
    <div class="booyah-box col-md-4">
      <p><%= image_tag bio.picture, :class => "picture" %></p> 
      <div class="details">
        <h1><%= link_to bio.name, bio_path(bio), :class => "name" %></h1>
        <p class="caption"> <%= bio.caption %> </p>
      </div>
    </div> 
    <% end %>
  </div>
</div>


 
  


























