@import "bootstrap";


 body {
 	font-family: 'Permanent Marker', cursive;
 	background-color: #cc1c25;
 	max-width: 100%;
  
}

 h2 {
 	text-align: center;
 	color: white;
 	font-size: 2.5em; 
 	
 }

 .hero {
 		-webkit-box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.75);
 		background: image_url('flag.jpg') no-repeat center center fixed;
    width: 100%;
    max-width: 100%;
    height: auto;
 		background-size:100%;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 	height: 370px;
	 	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  
 }

 .index_content {
 	position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

 }

.booyah-box {
  -moz-box-shadow: 2px 2px 2px 0 #d0d0d0;
  -webkit-box-shadow: 2px 2px 2px 2 #d0d0d0;
  box-shadow: 2px 2px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin: 60px 60px 60px 60px;
  padding:10px;
  border-radius:0;
  -moz-box-shadow: 2px 1px 10px 4px rgba(0,0,0,0.47);
  -webkit-box-shadow: 2px 1px 10px 4px rgba(0,0,0,0.47);
  padding-bottom: 20px;
  
 }

 .btn3d.btn-info {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#39B3D7;
}

